body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffd800;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

h1 {
    color: #333;
}

h2 {
    color: #007BFF;
}

p, li {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Added margin for spacing between list items */
li {
    margin-bottom: 15px; /* Adjust this value to increase or decrease space */
}
